if is_macos; then
	ISO_URL='http://archlinux.mirrors.ovh.net/archlinux/iso/2019.03.01/archlinux-2019.03.01-x86_64.iso'
	ISO_CHECKSUM_URL='http://archlinux.mirrors.ovh.net/archlinux/iso/2019.03.01/sha1sums.txt'
else
	ISO_URL='file:///home/dkrm/vms/iso/archlinux-2019.03.01-x86_64.iso'
	ISO_CHECKSUM_URL='file:///home/dkrm/vms/iso/archlinux-2019.03.01-x86_64-sha1sums.txt'
fi
export ISO_URL ISO_CHECKSUM_URL
